flower_photos
flowers-102-categories-perso


vit-base-patch16-224-in21k
vit_small_patch16_224.augreg_in21k
vit_small_patch16_224.dino
vit_tiny_patch16_224.augreg_in21k_ft_in1k
vit-base-patch16-224-in21k

training_results.txt
